---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Reviews from "@/components/Reviews.astro";
import Faq from "@/components/Faq";
//pros and cons
const cons = [
  {
    id: 0,
    text: "100+ hours of research",
  },
  {
    id: 1,
    text: "Buy different tools without knowledge",
  },
  {
    id: 2,
    text: "Waste days to configure advertising",
  },
  {
    id: 3,
    text: "Incorrect channel selection",
  },
  {
    id: 4,
    text: "Wait 6+ months for first results",
  },
];
const pros = [
  {
    id: 0,
    text: "Understanding basic concepts fast and easy",
  },
  {
    id: 1,
    text: "Get first customers within weeks",
  },
  {
    id: 2,
    text: "30+ hours of material in the form of roadmaps",
  },
  {
    id: 3,
    text: "Specified tools and guidance",
  },
  {
    id: 4,
    text: "Consultant support (premium)",
  },
];

//testimonials
const testimonials = [
  {
    id: 0,
    name: "Erica J.",
    username: "@ericajohnson",
    text: "LeadUp has been a breakthrough for our sales team. The increase in lead quality and quantity is noticeable, and we've seen a significant uptick in conversions since we started using it.",
  },
  {
    id: 1,
    name: "Jurgen K.",
    username: "@jurgenklopp",
    text: "LeadUp has been a breakthrough for our sales team. The increase in lead quality and quantity is noticeable, and we've seen a significant uptick in conversions since we started using it.",
  },
  {
    id: 2,
    name: "Damon W.",
    username: "@damonwashington",
    text: "This app is exactly what we needed to expand our market reach. LeadUp's intuitive design and powerful lead generation tools have made it indispensable for our marketing efforts.",
  },
  {
    id: 3,
    name: "Luis D.",
    username: "@luisdiazliverpool",
    text: "LeadUp has transformed how we approach lead generation. Its analytics capabilities allow us to refine our strategies in real time. Batya na meste",
  },
  {
    id: 4,
    name: "Cassandra T.",
    username: "@moyadikayacassandra",
    text: "Before discovering LeadUp, our team struggled with the manual effort required in lead generation and management. It was not only time-consuming but also often led to inconsistent results. Since integrating LeadUp into our workflow six months ago, the difference has been like night and day. The app's ability to automate and refine lead capture processes has dramatically increased our efficiency.",
  },
];

// const accessToken = Astro.cookies.get("sb-access-token");
// const refreshToken = Astro.cookies.get("sb-refresh-token");
// if (accessToken && refreshToken) {
//   return Astro.redirect("/dashboard");
// }
---

<BaseLayout title="LeadUp - Effective Lead Generation Solutions for B2B Sales and Marketing">
  <main class="min-h-svh relative">
    <section class="w-full xl:max-w-7xl px-6 xl:px-0 mx-auto py-8 lg:py-24">
      <div class="max-w-4xl mx-auto flex flex-col gap-10 lg:gap-14">
        <h1 class="font-semibold text-4xl lg:text-7xl text-center">
          Start Today <br />Reach Millions <span class="text-primary"
            >Tomorrow</span
          >
        </h1>
        <p class="text-center text-lg max-w-xl mx-auto">
          Our platform provides the opportunity to go from the theory of lead
          generation to the first transactions. In addition to information, we
          provide tables and to-do lists with which you will save time and start
          making deals much faster!
        </p>
        <Reviews />
      </div>
    </section>
    <section class="bg-bg-accent w-full mx-auto py-16 md:py-24">
      <div class="xl:max-w-7xl px-6 xl:px-0 mx-auto">
        <h2 class="text-3xl lg:text-5xl font-bold text-center">
          80% of businesses close in the first year
        </h2>
        <p class="text-lg font-normal text-center mt-8">
          No experience, no mentoring lead to sales problems and business
          closures
        </p>
        <div
          class="flex flex-col lg:flex-row mt-12 md:mt-20 gap-10 justify-center items-center"
        >
          <div class="flex flex-col items-center gap-4 text-base md:text-2xl">
            <span>📅 🔎</span>
            <h3 class="font-bold text-center">
              weeks of researching and investigating
            </h3>
          </div>
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            xmlns="http://www.w3.org/2000/svg"
            class="rotate-180 lg:rotate-90 w-16 h-16"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="m7.5.793l4.354 4.353l-.707.708L8 2.707V14H7V2.707L3.854 5.854l-.708-.708z"
              clip-rule="evenodd"></path></svg
          >
          <div class="flex flex-col items-center gap-4 text-base md:text-2xl">
            <span>💻 🚫</span>
            <h3 class="font-bold text-center">
              days of implementing with no effort
            </h3>
          </div>
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            xmlns="http://www.w3.org/2000/svg"
            class="rotate-180 lg:rotate-90 w-16 h-16"
            ><path
              fill="currentColor"
              fill-rule="evenodd"
              d="m7.5.793l4.354 4.353l-.707.708L8 2.707V14H7V2.707L3.854 5.854l-.708-.708z"
              clip-rule="evenodd"></path></svg
          >
          <div class="flex flex-col items-center gap-4 text-base md:text-2xl">
            <span>⌛ 👥</span>
            <h3 class="font-bold text-center">
              months to get first real clients
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full xl:max-w-7xl px-6 xl:px-0 mx-auto py-16 md:py-24">
      <h2
        class="max-w-2xl text-3xl lg:text-5xl font-bold text-center mx-auto leading-tight"
      >
        Understanding Every Angle for a Better Decision
      </h2>
      <div
        class="flex flex-col lg:flex-row gap-12 items-center justify-center mt-12 md:mt-20"
      >
        <div
          class="flex flex-col p-6 md:p-12 basis-1/2 bg-[#3E1F25] text-[#F75E75] border border-[#1E040A] rounded-lg w-full md:w-1/2 lg:max-w-lg"
        >
          <h4 class="text-lg font-bold">You without Lead Up</h4>
          <ul class="flex flex-col mt-4 gap-2">
            {
              cons.map((c) => (
                <li class="font-normal text-base flex gap-2 items-center">
                  <svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4"
                  >
                    <path
                      fill="currentColor"
                      d="M3.64 2.27L7.5 6.13l3.84-3.84A.92.92 0 0 1 12 2a1 1 0 0 1 1 1a.9.9 0 0 1-.27.66L8.84 7.5l3.89 3.89A.9.9 0 0 1 13 12a1 1 0 0 1-1 1a.92.92 0 0 1-.69-.27L7.5 8.87l-3.85 3.85A.92.92 0 0 1 3 13a1 1 0 0 1-1-1a.9.9 0 0 1 .27-.66L6.16 7.5L2.27 3.61A.9.9 0 0 1 2 3a1 1 0 0 1 1-1c.24.003.47.1.64.27"
                    />
                  </svg>
                  {c.text}
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="flex flex-col p-6 md:p-12 basis-1/2 bg-[#0D2E0D] text-[#92C353] border border-[#032003] rounded-lg w-full md:w-1/2 lg:max-w-lg"
        >
          <h4 class="text-lg font-bold">You with Lead Up</h4>
          <ul class="flex flex-col mt-4 gap-2">
            {
              pros.map((p) => (
                <li class="font-normal text-base flex gap-2 items-center">
                  <svg
                    width="512"
                    height="512"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4"
                  >
                    <path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="32"
                      d="M416 128L192 384l-96-96"
                    />
                  </svg>
                  {p.text}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
    <section class="w-full xl:max-w-7xl px-6 xl:px-0 mx-auto py-16 md:py-24">
      <h2 class="text-3xl lg:text-5xl font-bold text-center">
        Hear from Our Customers
      </h2>
      <p class="text-lg font-normal text-center mt-8">
        Discover why our customers love what we do through their own words.
      </p>
      <div class="mt-12 md:mt-20">
        <div
          class="columns-1 lg:columns-2 xl:columns-3 gap-6 overflow-hidden relative transition-all"
        >
          {
            testimonials.map((t) => (
              <div class="mb-6 z-0 break-inside-avoid-column">
                <a href="/" target="_blank">
                  <div class="flex flex-col gap-3.5 p-6 bg-bg-accent rounded-lg">
                    <div class="flex items-center gap-4">
                      <div class="w-10 h-10 rounded-full bg-zinc-300" />
                      <div class="flex flex-col">
                        <p class="font-semibold text-base">{t.name}</p>
                        <span class="font-light text-zinc-500 text-xs">
                          {t.username}
                        </span>
                      </div>
                    </div>
                    <p class="text-base font-light">{t.text}</p>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section id="pricing" class="bg-bg-accent w-full mx-auto py-16 md:py-24">
      <div class="xl:max-w-7xl px-6 xl:px-0 mx-auto">
        <span class="block mb-3 text-base text-primary font-bold text-center">
          Pricing
        </span>
        <h2 class="text-3xl lg:text-5xl font-bold text-center">
          Get Started with the Right Plan
        </h2>
        <div class="flex flex-col md:flex-row gap-8 mt-16 justify-center mb-10">
          <!-- <div
            class="p-8 bg-bg rounded-lg flex flex-col justify-between gap-16 md:w-[340px] border border-transparent"
          >
            <div>
              <h4 class="font-bold text-xl">Basic</h4>
              <span class="block mt-2.5 text-4xl font-extrabold">$29</span>
              <ul class="mt-6 flex flex-col gap-3.5">
                <li>✅ Convenient road maps</li>
                <li>✅ Useful tools</li>
                <li>✅ Step-by-step instructions</li>
                <li>✅ Lead generation channels</li>
                <li>✅ Todo lists</li>
              </ul>
            </div>
            <form id="basic-plan-form">
              <button
                type="submit"
                class="bg-primary w-full rounded-lg flex items-center py-4 justify-center text-sm font-medium"
              >
                Get Started
              </button>
              <span class="block mt-2.5 text-sm font-medium text-center">
                Pay once. Access forever.
              </span>
            </form>
          </div> -->
          <div
            class="p-8 bg-bg rounded-lg flex flex-col justify-between gap-16 md:w-[340px] border border-primary"
          >
            <div>
              <div class="flex gap-2.5 items-center">
                <h4 class="font-bold text-xl">Basic</h4>
                <span
                  class="py-1.5 px-3 rounded-lg border border-primary font-medium text-xs bg-[#0098e933] text-primary"
                >
                  Popular
                </span>
              </div>
              <span class="block mt-2.5 text-4xl font-extrabold">$19</span>
              <ul class="mt-6 flex flex-col gap-3.5">
                <li>✅ Convenient roadmaps</li>
                <li>✅ Useful tools</li>
                <li>✅ Step-by-step instructions</li>
                <li>✅ Lead generation channels</li>
                <li>✅ To-do lists</li>
                <!-- <li>✅ Personal sales support</li> -->
                <!-- <li>✅ Trigger email templates</li> -->
              </ul>
            </div>
            <form id="premium-plan-form">
              <button
                type="submit"
                class="bg-primary w-full rounded-lg flex items-center py-4 justify-center text-sm font-medium"
              >
                Get Started
              </button>
              <span class="block mt-2.5 text-sm font-medium text-center">
                Pay once. Access forever.
              </span>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section
      id="faq"
      class="w-full xl:max-w-7xl px-6 xl:px-0 mx-auto py-16 md:py-24 flex flex-col lg:flex-row gap-12 md:gap-20"
    >
      <div class="basis-1/2">
        <span class="block mb-3 text-base text-primary font-bold">FAQ</span>
        <h2 class="text-3xl lg:text-5xl font-bold">Any Questions?</h2>
      </div>
      <Faq client:visible />
    </section>
    <section class="bg-bg-accent w-full mx-auto py-16 md:py-24">
      <div class="xl:max-w-7xl px-6 xl:px-0 mx-auto">
        <div class="flex flex-col gap-8 items-center">
          <h2 class="text-4xl font-medium text-center leading-tight">
            Start Today, Reach Millions <span class="text-primary"
              >Tomorrow</span
            >
          </h2>
          <a
            href="/#pricing"
            class="bg-primary rounded-md text-base font-normal px-4 text-white py-2 text-center w-fit"
            >Get Started Now</a
          >
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<script>
  // const formBasic = document.getElementById("basic-plan-form") as HTMLFormElement;
  const formPremium = document.getElementById("premium-plan-form") as HTMLFormElement;

  // formBasic.addEventListener("submit", async (event) => {
  //   event.preventDefault();
  //   const response = await fetch("/api/payment/checkout", {
  //     method: "POST",
  //     body: JSON.stringify({ plan: 1 }),
  //   });
  //   const data = await response.json();
  //   if (data.url) {
  //     window.location.href = data.url;
  //   } else {
  //     alert("An error occurred: " + data.error);
  //   }
  // });

  formPremium.addEventListener("submit", async (event) => {
    event.preventDefault();
    const response = await fetch("/api/payment/checkout", {
      method: "POST",
      body: JSON.stringify({ plan: 2 }),
    });
    const data = await response.json();
    if (data.url) {
      window.location.href = data.url;
    } else {
      alert("An error occurred: " + data.error);
    }
  });
</script>
